mathmaker/data/fonts_list.txt
docs/_build/
*.egg/
.tox/
*.pyc
build/
dist/
*.egg-info/
*~
mathmaker/data/mathmaker.db
mathmaker/data/mathmaker-*.db
mathmaker/data/shapes-*.db
mathmaker/data/inttuples-*.db
mathmaker/data/mathmakerd.db
mathmaker/log/*
*.bak
mathmaker/settings/dev
legacy_tests/
htmlcov/
.coverage
.cache/
tests/outfiles/
toolbox/shapes_catalog.aux
toolbox/shapes_catalog.log
toolbox/shapes_catalog.pdf
toolbox/stderr.log
outfiles/
*.mo
__pycache__/
.idea/
