include *.rst
include *.md
include *.txt
include .flake8
include MANIFEST.in
include tox.ini
include LICENSE
include mathmaker/data/mathmaker.db-dist
include mathmaker/data/shapes.db-dist
include mathmaker/data/anglessets.db-dist
include mathmaker/data/natural_nb_tuples.db-dist
include mathmaker/data/db_index.json
include mathmaker/data/shapes_db_index.json
include mathmaker/data/anglessets_db_index.json
include mathmaker/data/natural_nb_tuples_db_index.json
include mathmaker/data/frameworks/index.json
recursive-include mathmaker *.po
recursive-include mathmaker *.mo
recursive-include mathmaker *.txt
recursive-include mathmaker *.pot
recursive-include mathmaker *.xml
recursive-include mathmaker *.xsd
recursive-include mathmaker *.yaml
recursive-include tests *.py
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.ggb
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include docs *.dia
recursive-include tests *.xml
prune toolbox/*
prune toolbox
prune mathmaker/lib/core/triangles_architecture.png
prune mathmaker/settings/dev
prune tests/01_core_objects/YET_TO_ADD*.py
prune docs/_build
prune mathmaker/data/fonts_list.txt
